#canvas[data-v-b2ce16e4]{width:100%;height:100%;position:absolute;left:0;top:0;z-index:0}.tips[data-v-b2ce16e4]{position:absolute;left:0;top:0;color:#fff;text-shadow:1px 2px 4px #111;padding:1rem 3rem;box-sizing:border-box;z-index:6}
